## Merge Data
This Code merges the education data and zillow data to create the final database

In [1]:
import pandas as pd

In [3]:
educationdata = pd.read_csv('APIScores.csv')
zillowdata = pd.read_csv('ZillowData.csv')

In [7]:
educationdata.head()

   Unnamed: 0  ZipCode  Weighted 3 Year Average API
0           0    10025                        590.0
1           1    10028                        706.0
2           2    10457                        643.0
3           3    10472                        611.0
4           4    11237                        638.0

In [8]:
zillowdata.head()

,state,childtype,text,code,id,latitude,longitude,subregiontype,count,id2,name,zindex,currency,latitude3,longitude4
0,CA,zipcode,Request successfully processed,0,9,37.271837,-119.273466,zipcode,999,97564,94109,933300.0,USD,37.797213,-122.422024
1,CA,zipcode,Request successfully processed,0,9,37.271837,-119.273466,zipcode,999,96107,90250,467300.0,USD,33.913119,-118.346067
2,CA,zipcode,Request successfully processed,0,9,37.271837,-119.273466,zipcode,999,97771,94565,293900.0,USD,37.998348,-121.932476
3,CA,zipcode,Request successfully processed,0,9,37.271837,-119.273466,zipcode,999,96027,90046,1121600.0,USD,34.107260,-118.371739
4,CA,zipcode,Request successfully processed,0,9,37.271837,-119.273466,zipcode,999,97711,94501,727800.0,USD,37.774266,-122.281778

In [55]:
data = pd.merge(educationdata, zillowdata, how='inner', left_on='ZipCode',right_on='name')

In [56]:
finaldata = data[['ZipCode', 'Weighted 3 Year Average API','zindex','latitude3','longitude4',]]

In [57]:
finaldata = finaldata.rename(columns={'zindex': 'Median Home Price','latitude3': 'Latitude','longitude4': 'Longitude'})
finaldata.head()

,ZipCode,Weighted 3 Year Average API,Median Home Price,Latitude,Longitude
0,90001,796.000000,267100.0,33.974510,-118.248392
1,90002,515.000000,254500.0,33.949005,-118.245834
2,90003,621.000000,279900.0,33.963746,-118.273905
3,90004,690.666667,1094300.0,34.076131,-118.310856
4,90005,671.250000,685100.0,34.060034,-118.310230

In [58]:
finaldata['Weighted 3 Year Average API'] = finaldata['Weighted 3 Year Average API'].map("{:.2f}".format).astype('float')

In [61]:
finaldata = finaldata.set_index('ZipCode')

In [63]:
finaldata = finaldata.dropna(how='any')

In [64]:
finaldata

         Weighted 3 Year Average API  Median Home Price   Latitude   Longitude
ZipCode
90001                         796.00           267100.0  33.974510 -118.248392
90002                         515.00           254500.0  33.949005 -118.245834
90003                         621.00           279900.0  33.963746 -118.273905
90004                         690.67          1094300.0  34.076131 -118.310856
90005                         671.25           685100.0  34.060034 -118.310230
90007                         776.67           491200.0  34.026540 -118.283049
90008                         682.00           548600.0  34.007973 -118.345638
90011                         649.17           307400.0  34.009839 -118.258522
90012                         767.50           408700.0  34.065923 -118.240709
90015                         763.00           571300.0  34.038621 -118.267216
90016                         533.50           431100.0  34.029603 -118.356803
90017                         610.40           497200.0  34.052644 -118.264790
90018                         756.00           427700.0  34.027283 -118.317633
90019                         642.00           807000.0  34.049503 -118.339748
90022                         708.00           336600.0  34.029398 -118.153367
90023                         742.00           316700.0  34.024210 -118.200065
90025                         701.50           751100.0  34.046786 -118.443544
90026                         592.50           652100.0  34.076149 -118.260988
90027                         728.00          1163200.0  34.125733 -118.288201
90028                         643.33           653200.0  34.099971 -118.327542
90031                         658.25           404900.0  34.082038 -118.217640
90032                         693.00           376600.0  34.081295 -118.180749
90033                         639.33           340200.0  34.050079 -118.211420
90034                         652.00           847800.0  34.029463 -118.399381
90035                         900.00          1059500.0  34.052182 -118.385230
90036                         602.00          1300000.0  34.069146 -118.350905
90037                         649.67           348200.0  34.003660 -118.287220
90041                         765.00           652000.0  34.133955 -118.204429
90042                         673.75           513700.0  34.112393 -118.190312
90043                         649.50           410600.0  33.985469 -118.337994
...                              ...                ...        ...         ...
95827                         753.50           224800.0  38.558441 -121.325831
95828                         652.00           203800.0  38.488771 -121.402863
95829                         781.00           301700.0  38.488951 -121.335946
95834                         754.00           311500.0  38.642275 -121.523067
95835                         810.50           305200.0  38.688716 -121.526567
95838                         668.00           199200.0  38.645371 -121.441751
95843                         722.75           304600.0  38.715993 -121.360802
95901                         667.25           161900.0  39.228182 -121.477823
95926                         821.33           255500.0  39.743925 -121.840623
95945                         715.33           285400.0  39.197186 -120.949976
95946                         700.00           322100.0  39.221335 -121.194093
95954                         603.00           160600.0  39.919870 -121.557426
95959                         906.00           368800.0  39.382383 -120.838020
95961                         621.50           169400.0  39.026242 -121.548016
95965                         657.00           154100.0  39.594774 -121.623120
95966                         732.00           159000.0  39.495613 -121.369024
95969                         706.00           195000.0  39.734104 -121.620627
95991                         648.50           189300.0  39.039753 -121.616194
95993                         623.50           242300.0  39.052753 -121.720066
96001                         670.17           217900.0  40.622218 -122.477365
96003                         668.50           234100.0  40.738632 -122.264165
96007                         787.50           174000.0  40.436922 -122.282710
96019                         755.00           150900.0  40.704619 -122.398529
96021                         719.00           132100.0  39.922167 -122.264530
96067                         808.00           230200.0  41.286283 -122.374183
96080                         627.83           145500.0  40.122189 -122.352079
96097                         799.00           132300.0  41.768337 -122.686104
96130                         623.33           115800.0  40.531614 -120.705511
96150                         728.00           342100.0  38.886416 -120.020677
96161                         667.50           500600.0  39.348660 -120.224608

[712 rows x 4 columns]

In [66]:
finaldata.to_csv('Final Data.csv')